beer-search-hero .hero-background-container {
    position: absolute;
    background-image: url('../images/hero-img.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    z-index: 1;
}