mobile-menu .main-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.6);
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    z-index: 2; 
    transition: all .3s ease-in-out;
}

mobile-menu .main-container.open {
    visibility: visible;
    opacity: 1; 
}

mobile-menu .main-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;    
    color: #fff;     
}

mobile-menu .main-container.open {
    overflow-y: scroll;    
    visibility: visible;
    opacity: 1;
}

mobile-menu .content-container {
    max-width: 768px;
}

mobile-menu .menu-column {
    padding-left: 0;
    padding-right: 0;
}

mobile-menu .left-menu {
    position: relative;
    background-color: #fff;    
    margin-right: 0;
    height: 0;
    transition: all .6s ease-in-out;
    z-index: 3;
}

mobile-menu .left-menu.open {    
    height: 100vh;
    -webkit-box-shadow: 7px 2px 9px -6px rgba(0,0,0,0.51);
    -moz-box-shadow: 7px 2px 9px -6px rgba(0,0,0,0.51);
    box-shadow: 7px 2px 9px -6px rgba(0,0,0,0.51);
}

mobile-menu .left-menu .left-menu-header {
    width: 100%;
    height: 35px;
    padding: 5px 0 10px 30px;
    background-color: #516073;
    font-size: 1.8rem;
}

mobile-menu .left-menu .product-feature-container {    
    width: 100%;
    height: 47%;
    padding: 10px;
    background-color: #fff; 
    visibility: hidden;
    opacity: 0;
    cursor: pointer;
    transition: all .8s ease-in-out;
}  

mobile-menu .left-menu.open .product-feature-container {    
    visibility: visible;
    opacity: 1;
    color: #000;   
}

mobile-menu .left-menu .product-feature-container .featured-product-image-container {
    width: 100%;
    height: 100%;
    padding: 10px;
    margin-top: -50px;
    background-position: center;
    background-size: contain; 
    background-repeat: no-repeat;
    opacity: 0;
    transform: scale(0.5);    
    transition: opacity .3s ease-in-out .2s, transform .6s cubic-bezier(.17,.67,.32,1.6);
}

mobile-menu .left-menu.open .product-feature-container .featured-product-image-container {
    opacity: 0.6;
    transform: scale(0.6);
}

mobile-menu .left-menu.open .product-feature-container:hover .featured-product-image-container {
    opacity: 1;
    transform: scale(0.7);
}

mobile-menu .left-menu .product-feature-container .product-feature-details {
    position: relative;
    top: 10px;
    left: 20px;
    width: 70%;
    font-size: 2rem;
}

mobile-menu .left-menu .product-feature-container .product-feature-divider {
    position: absolute;
    top: 50%;
    width: 75%;
    height: 2px;
    left: calc(50% - 37.5%);
    background-color: #BF290B;
    transform: scale(0);
    transition: all .6s ease-in-out .4s;
}  

mobile-menu .left-menu.open .product-feature-container .product-feature-divider {
    transform: scale(1);
} 

mobile-menu .right-menu {
    position: absolute;
    width: 100%;    
    height: 100vh;
    margin-left: 0;    
    margin-top: 100vh;
    background-color: rgb(253,248,232);
    visibility: visible;
    opacity: 1;
    -webkit-box-shadow: 7px 2px 9px -6px rgba(0,0,0,0.51);
    -moz-box-shadow: 7px 2px 9px -6px rgba(0,0,0,0.51);
    box-shadow: 7px 2px 9px -6px rgba(0,0,0,0.51);
    transition: all .6s ease-in-out;
} 

mobile-menu .right-menu.open {    
    margin-top: 0;
    visibility: visible;
    opacity: 1;
} 

mobile-menu .right-menu .right-menu-header {
    text-align: center;
}

mobile-menu .right-menu .right-menu-header img {
    display: inline-block;
    width: 50%; 
    padding-top: 30px;
    opacity: 0.2;
}

mobile-menu .right-menu .right-menu-navigation-divider {
    position: relative;
    width: 75%;
    height: 2px;
    margin-top: 30px;
    margin-bottom: 30px;
    left: calc(50% - 37.5%);
    background-color: #BF290B;
    transform: scale(0);
    transition: all .6s ease-in-out .4s;
}

mobile-menu .right-menu.open .right-menu-navigation-divider {
    transform: scale(1);
} 

mobile-menu .right-menu .right-menu-navigation .nav-list {
    float: none;            
    padding: 10px 0 10px 30px;  
    cursor: pointer;      
}

mobile-menu .right-menu .right-menu-navigation .nav-list span {
    position: relative;
    display: inline-block;
    color: #000;
    padding-left: 10px;
    font-size: 1.8rem;
    z-index: 3;
}

mobile-menu .right-menu .right-menu-navigation .nav-list img {
    position: relative;
    display: inline-block;
    width: 22px;
    z-index: 3;
}

mobile-menu .right-menu .right-menu-navigation .nav-list .nav-list-overlay {
    position: absolute;
    width: 100%;
    height: 50px;
    margin-top: -46px;
    left: -100%;
    background-color: #919e94;    
    z-index: 2;
    transition: all .4s cubic-bezier(.17,.67,.32,1.4);
}

mobile-menu .right-menu .right-menu-navigation .nav-list:hover .nav-list-overlay {
    left: 0;
}

mobile-menu .right-menu .right-menu-navigation .nav-list:hover span {
    color: #fff;
}

mobile-menu .right-menu .right-menu-navigation .nav-list:first-of-type .nav-list-overlay {
    background-color: #690403;
}

mobile-menu .right-menu .right-menu-navigation .nav-list:nth-of-type(2) .nav-list-overlay {
    background-color: #BF290B;
}

mobile-menu .right-menu .right-menu-navigation .nav-list:last-of-type .nav-list-overlay {
    background-color: #F2780C;
}

mobile-menu .right-menu .right-menu-footer {
    text-align: center;
}

mobile-menu .right-menu .right-menu-footer img {
    display: inline-block;
    width: 55%; 
    opacity: 0.2;
}
