mobile-menu .main-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.6);
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    z-index: 2; 
    transition: all .3s ease-in-out;
}

mobile-menu .main-container .menu-container {
    
}

mobile-menu .main-container.open {
    visibility: visible;
    opacity: 1; 
}

mobile-menu .main-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;    
    color: #fff;     
}

mobile-menu .main-container.open {
    overflow-y: scroll;    
    visibility: visible;
    opacity: 1;
}

mobile-menu .content-container {
    max-width: 768px;
}

mobile-menu .menu-column {
    padding-left: 0;
    padding-right: 0;
}

mobile-menu .left-menu {
    position: relative;
    background-color: #fff;    
    margin-right: 0;
    height: 0;
    transition: all .6s ease-in-out;
    z-index: 3;
}

mobile-menu .left-menu.open {    
    height: 100vh;
    -webkit-box-shadow: 7px 2px 9px -6px rgba(0,0,0,0.51);
    -moz-box-shadow: 7px 2px 9px -6px rgba(0,0,0,0.51);
    box-shadow: 7px 2px 9px -6px rgba(0,0,0,0.51);
}

mobile-menu .left-menu .product-feature-container {    
    width: 100%;
    height: 50%;
    padding: 10px;
    background-color: #fff; 
    visibility: hidden;
    opacity: 0;
    transition: all .8s ease-in-out;
}

mobile-menu .left-menu.open .product-feature-container {    
    visibility: visible;
    opacity: 1;
    color: #000;
    padding-left: 25px;
}

mobile-menu .left-menu .product-feature-container .featured-product-image-container {
    width: 100%;
    height: 100%;
    padding: 10px;
    background-position: center;
    background-size: contain; 
    background-repeat: no-repeat;
    opacity: 0;
    transform: scale(0.6);
    cursor: pointer;
    transition: opacity .3s ease-in-out .2s, transform .3s ease-in-out;
}

mobile-menu .left-menu.open .product-feature-container .featured-product-image-container {
    opacity: 0.6;
    transform: scale(0.7);
}

mobile-menu .left-menu.open .product-feature-container .featured-product-image-container:hover {
    opacity: 1;
    transform: scale(0.8);
}

mobile-menu .left-menu .product-feature-container .product-feature-details {
    position: relative;
    top: 5px;
    left: 20px;
    width: 70%;
    font-size: 2rem;
}

mobile-menu .left-menu .product-feature-container .product-feature-divider {
    position: absolute;
    top: 50%;
    width: 75%;
    height: 2px;
    left: calc(50% - 37.5%);
    background-color: burlywood;
    transform: scale(0);
    transition: all .6s ease-in-out .4s;
}  

mobile-menu .left-menu.open .product-feature-container .product-feature-divider {
    transform: scale(1);
} 

mobile-menu .right-menu {
    position: absolute;
    width: 100%;    
    height: 100vh;
    margin-left: 0;    
    margin-top: 100vh;
    background-color: #fff;
    visibility: visible;
    opacity: 1;
    -webkit-box-shadow: 7px 2px 9px -6px rgba(0,0,0,0.51);
    -moz-box-shadow: 7px 2px 9px -6px rgba(0,0,0,0.51);
    box-shadow: 7px 2px 9px -6px rgba(0,0,0,0.51);
    transition: all .6s ease-in-out;
} 

mobile-menu .right-menu.open {    
    margin-top: 0;
    visibility: visible;
    opacity: 1;
} 

mobile-menu .right-menu .right-menu-header {
    text-align: center;
}

mobile-menu .right-menu .right-menu-header img {
    display: inline-block;
    width: 60%; 
    padding-top: 60px;
    opacity: 0.4;
}
