 store-locations .header-row {
     margin-top: 20px;
     padding-top: 10px;
     padding-bottom: 10px;
     background-color: darkgrey;
     min-height: 80px;
 }

@media screen and (min-width: 400px) {
    store-locations .header-row {
        min-height: 60px;
    }
}

@media screen and (min-width: 675px) {
    store-locations .header-row {
        min-height: 40px;
    }
}

store-locations .location-data div {
    padding-top: 10px;
    padding-bottom: 10px;    
}

store-locations .location-data:nth-of-type(odd) {
    background-color:lightgrey;    
}

